rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;


service firebase.storage {
  match /b/{bucket}/o {
    match /covers/{userId}/{document=**} { //capturing the userID - name doesnt matter
      allow read, create: if request.auth != null;
      allow delete: if request.auth.uid == userId
    }
  }
}

//firebase deploy --only storage
